include ../btn/btn
include ../icon/icon

mixin s9-form(data)
    +b.FORM.s9-form()&attributes(attributes)
        input(type='hidden', name='source')
        input(type='hidden', name='medium')
        input(type='hidden', name='campaign')

        +e.inputs
            each input in data.inputs
                +e.INPUT.input.data__input(type='text', name=input.name, placeholder=input.place)
                +e.cross
                    +icon({ icon: 'cross' })

        +e.TEXTAREA.input._textarea.data__input(name='messaggio', placeholder='Messaggio')

        each checkbox in data.checkboxes
            +e.LABEL.label
                +e.INPUT.checkbox(type='checkbox', name=checkbox.name, class={'data__input': checkbox.input})
                +e.check
                +e.SPAN.val!=checkbox.text

        +e.text.empty È stato inserito un valore non valido, la preghiamo di controllare
        +e.text.privacy Per procede all`invio è necessario dare il proprio consenso alla privacy

        +btn({tag: 'button'}).s9-form__btn Invia
