.btn {
    display: inline-block;
    width: rem(280);
    height: rem(56);
    border-radius: rem(28);
    border: none;
    outline: none;
    
    text-align: center;
    font-size: rem(18);
    line-height: (58/18);
    font-weight: 700;
    background-color: #fff;
    color: $color-1;
    box-shadow: 0 2px 40px rgba(255, 255, 255, 0.73);
    transition: box-shadow 0.25s;
    
    &:hover {
        box-shadow: 0 2px 55px rgba(255, 255, 255, 1);
    }
    
    &_color_1{
        background-color: $color-1;
        color: #fff;
        
        &:hover {
            box-shadow: 0 2px 40px #ff5400;
        }
    }
    
    &_color_2{
        border: rem(3) solid $color-1;
        line-height: (52/18);
    }
    
    &_color_3{
        line-height: (52/18);
        background: none;
        border: rem(3) solid #fff;
        color: #fff;
        box-shadow: 0 2px 40px #ff5400;
    }
}
