include ../s9-bnr/s9-bnr
include ../s9-form/s9-form
include ../s9-popup/s9-popup

mixin s9(data)
    +b.SECTION.s9.section#contattaci
        .container
            +e.H2.title Vuoi avere #[<br>] maggiori informazioni?

            +e.P.text
                | Compila il form con i tuoi dati e ricevi il catalogo in pdf: sarai ricontattato entro 24h da
                | un nostro consulente per trovare la soluzione più efficace per le esigenze della tua azienda

            +s9-bnr()

            +s9-form(s9Form.main)

            +s9-popup()
