mixin footer-nav(data)
    +b.footer-nav()&attributes(attributes)
        +e.UL.list
            - for (var x = 0; x < 14; x++)
                +e.LI.item
                    +e.A.link(href='#') Lorem
