include ../icon/icon

mixin footer-logo(data)
    +b.footer-logo()&attributes(attributes)

        +icon({ icon: 'logo' })
        +icon({ icon: 'logo-m' })

        +e.text Proteggi la tua vita sul lavoro
