mixin s7(data)
    +b.SECTION.s7.section
        +e.container
            +e.column
                +e.H2.title.section__title CORSI DI #[<br>] FORMAZIONE E #[<br>] ADDESTRAMENTO

            +e.column
                +e.P.text.section__text
                    | Sicurezza88 offre anche la #[<b> formazione e l'addestramento specifico </b>] per tutti
                    | coloro che dovranno usufruire delle attrezzature di accesso in maniera da adempiere agli
                    | obblighi normativi, ma soprattutto avere la preparazione per intervenire in maniera
                    | tempestiva al crearsi di una condizione di pericolo.

                +e.P.text.section__text
                    | I nostri corsi di formazione per la sicurezza sul lavoro vengono tenuti
                    | #[<b>direttamente presso la tua sede aziendale</b>]. Periodicamente teniamo online dei
                    | webinar gratuiti per affrontare e approfondire i diversi aspetti della tematica.