mixin s3(data)
    +b.SECTION.s3.section
        +e.H2.title.section__title LE NOSTRE #[<br>] SOLUZIONI #[<br>] per gli ambienti #[<br>] confinati

        +e.IMG.img(src='%=static=%img/assets/s3/img.png')