mixin s9-bnr(data)
    +b.s9-bnr()&attributes(attributes)
        +e.column
            +e.P.text
                | #[<b>Sicurezza88 sostiene Viva la Vida</b>], associazione senza fini di lucro che aiuta
                | i bambini in condizioni disagiate: #[<br>] scegli di ricevere gratuitamente il suo libro
                | #[<b>“Controvento”</b>]
                | e noi doneremo all’associazione il suo valore in euro.

        +e.column
            +e.images
                +e.img._img1(src='%=static=%img/assets/s9-bnr/img1.png')
                +e.img._img2(src='%=static=%img/assets/s9-bnr/img2.png')
