.s8 {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s, padding 0.25s;
    
    @include below($mobile) {
        padding-top: 0;
        
    }
    
    &.open {
        height: rem(1255);
        padding-top: rem(50);
        padding-bottom: rem(100);
    }
    
    &__subtitle {
        margin-bottom: rem(30);
        
        font-size: rem(32);
        line-height: (56/32);
        text-align: center;
        letter-spacing: rem(1);
        color: #4a4a4a;
    
        @include below($mobile) {
            width: rem(200);
            margin-left: auto;
            margin-right: auto;
            
            font-size: rem(24);
            line-height: 1;
        }
    }
    
    &__btn {
        display: block;
        margin: 0 auto;
    }
}
