mixin s2(data)
    +b.SECTION.s2.section
        +e.info
            +e.column
                +e.H2.title.section__title2 I rischi #[<br>] da non sottovalutare

                p.section__text
                    | Per prima cosa è bene chiarire #[<b>cos’è uno spazio confinato</b>] dandone la definizione.

                p.section__text
                    | Uno spazio confinato è un qualsiasi
                    | #[<b>ambiente limitato, in cui il pericolo di morte o di infortunio grave è molto elevato</b>]
                    | a causa di uno o più dei seguenti motivi:

                ul.section__list
                    li.section__list-item Presenza di agenti chimici pericolosi
                    li.section__list-item Mancanza di aerazione adeguata
                    li.section__list-item Ridotte dimensioni di accesso
                    li.section__list-item rischio di caduta al suo interno
                    li.section__list-item difficoltà di soccorso immediato all’infortunato

                p.section__text
                    | Tramite i suoi tecnici specializzati, Sicurezza88 fornisce supporto a tutte le figure interessate
                    | #[<b>(datori di lavoro, RSPP, manutentori)</b>] per trovare una soluzione atta a garantire la
                    | sicurezza durante le manutenzioni e lavorazioni da compiere all'interno di un ambiente con tali
                    | caratteristiche.

            +e.column
                +e.H2.title._single.section__title2 La normativa

                p.section__text
                    | Garantire la sicurezza all’interno degli spazi confinati, oltre che un atto di puro
                    | buon senso, è anche un #[<b>obbligo di legge</b>]. Le regole in materia sono definite dal
                    | #[<b>DL 81/08</b>], noto come #[<b>"Testo Unico in materia di salute e sicurezza sul lavoro"</b>],
                    | e più nello specifico dal #[<b>DPR 177/2011</b>], che contiene il
                    | #[<b>“Regolamento per la sicurezza negli ambienti sospetti di inquinamento o confinati”</b>].
                    | I requisiti richiesti alle aziende per poter operare in ambienti confinati sono diversi,
                    | qui elenchiamo i principali:

                ul.section__list
                    li.section__list-item
                        | Vanno applicate tutte le disposizioni riguardanti valutazione dei rischi, sorveglianza
                        | sanitaria e gestione delle emergenze
                    li.section__list-item
                        | A lmeno il 30% del personale deve avere un'esperienza lavorativa di almeno 3 anni in
                        | ambienti sospetti di inquinamento o confinati
                    li.section__list-item
                        | Il personale impiegato negli spazi confinati deve essere formato circa le procedure
                        | di sicurezza
                    li.section__list-item
                        | Tutto il personale deve essere informato formato in materia di prevenzione
                    li.section__list-item
                        | Vanno consegnati gli specifici dispositivi di protezione individuale, strumentazione
                        | e attrezzature di lavoro idonei alla prevenzione dei rischi
