include ../slider/slider

mixin s1-slider(data)
    +slider()._desktop
        +b.s1-slider
            each item in data.items
                +e.slide
                    +e.info
                        +e.img(src='%=static=%img/assets/s1-slider/' + item.img)
                        +e.title!= item.title
                        +e.text!= item.text
